body{
    background: #f1f5f9;
}

.wrapper{
    width: 300px;
    text-align: center;
}

.showTitle{
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: #facc15;
    cursor: pointer;
}

#titleDisplay{
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}